.hat {
  background-color: #ffffff;
  min-width: 1600px;
  max-height: 80px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(236, 236, 236, 1);
}
.hat-container {
  max-height: 80px;
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: $text-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.cellar {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cellar-logo {
  color: #ffffff;
  display: block;
}
.logo-web {
  color: $accent-color;
}
.hat-logo {
  margin-right: 93px;
}
.icon-hat {
  margin-right: 10px;
  fill: currentColor;
}
.hat-link:focus + .icon-hat,
.hat-link:hover + .icon-hat {
  fill: currentColor;
}
.hat-link,
.cellar-link {
  text-decoration: none;
  color: #757575;
}
.cellar-link:hover,
.cellar-link:focus {
  color: $accent-color;
}
.cellar-link:active {
  color: $text-color;
}
.hat-list {
  display: flex;
  margin-left: auto;
}
.hat-link {
  margin-right: 50px;
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.browsing-link {
  text-decoration: none;
  color: $text-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.browsing-link:active {
  color: $brand-color;
}
.site-browsing {
  display: flex;
}
.browsing-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}
.text-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-link {
  max-height: 80px;
}
.nav-link:not(:last-child) {
  margin-right: 50px;
}
.cellar-container {
  display: flex;
}
.cellar-contact-container {
  display: flex;
  flex-direction: column;
}
.text-cellar {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.container-reference {
  width: 206px;
  height: 80px;
  margin-left: 70px;
  margin-top: 12px;
}

.list-icon-cellar {
  margin-top: 20px;
  margin-left: 0;
}
.link-icon-cellar {
  background-color: #ffffff1a;
}
.icon-team-cellar {
  fill: #ffffff;
}
.telegram {
  margin-top: 12px;
  margin-left: 93px;
}
.cellar-email {
  margin-top: 20px;
  display: flex;
}
.cellar-email > input {
  max-width: 358px;
  max-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.reference-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.cellar-email-input {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  background-color: $brand-color;
}

.telegram-btn {
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
}
.svg-cellar-btn {
  margin-left: 10px;
}
.cellar-link {
  display: flex;
  flex-direction: column;
}
.location {
  margin-top: 20px;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 1);
}
.post {
  margin-bottom: 9px;
}
.current {
  color: $accent-color;
  position: relative;
}
.current-link::after {
  content: '';
  display: block;
  width: inherit;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
}
